* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.links {
  text-decoration: none;
}

:root {
  --primary-color: #e5e5e5;
  --primary-dark-color: #8d99ae;
  --secondary-color: #457b9d;
  --secondary-dark-color: #1d3557;
  --tertiary-color: #e63946;
  --tertiary-dark-color: #780000;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: var(--secondary-dark-color);
}

::-webkit-scrollbar-thumb {
  background: var(--primary-color);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--secondary-color);
}

body {
  font-family: 'Lato', sans-serif;
  min-height: 100vh;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  padding: 0.5rem;
  background-color: var(--secondary-dark-color);
  min-height: 15%;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.5);
}

nav {
  display: flex;
  margin-left: 10px;
  gap: 2rem;
  justify-content: space-between;
  align-items: center;
  width: 400px;
}

.nav-item {
  color: var(--primary-color);
  padding: 0;
}

.nav-item:hover {
  color: var(--tertiary-color);
  text-shadow: -5px 3px 10px rgba(0, 0, 0, 0.5);
  transition: 0.4s;
  text-decoration: underline;
  font-size: 110%;
}

.languages {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
  padding: 0.8rem;
}

.flags {
  height: 25px;
  width: 25px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;

  background-color: var(--primary-dark-color);
}

main > section {
  display: flex;
  border: none;
  /* height: auto; */
  width: 98vw;

  background-color: var(--primary-color);
  align-items: center;
  justify-content: center;
  margin-top: 5px;
  margin-bottom: 5px;

  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.5);
}

.home {
  display: flex;
  flex-direction: row;
  min-height: 350px;
  gap: 2rem;
}

.profile {
  border-radius: 50%;
  width: 275px;
}

.home > h1 {
  text-align: center;
  text-wrap: wrap;
  padding: 5px;
}

.about > p {
  text-align: justify;
  text-wrap: wrap;
  padding: 5px;
}

.projects {
  display: flex;
  flex-direction: column;
}

.projects > p {
  font-weight: bold;
  margin: 10px 10px 10px 10px;
}

.cards {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  border-radius: 5px;
  box-shadow: 7px 7px 13px 0px rgba(50, 50, 50, 0.22);
  padding: 30px;
  margin: 20px;
  width: 300px;
  transition: all 0.3s ease-out;

  border-left: 3px solid var(--secondary-dark-color);
}

.card:hover {
  transform: translateY(-5px);
  cursor: pointer;
  border-left: 3px solid var(--tertiary-color);
}

.card h2 {
  color: black;
  font-size: 25px;
}

.card p {
  color: var(--primary-dark-color);
  font-size: 16px;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
  padding: 0.8rem;
  background-color: var(--primary-color);

  min-height: 10%;
}

.logos {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.logo {
  width: 30px;
  height: 30px;
}

.back-to-top {
  cursor: pointer;

  position: fixed;
  right: 1rem;
  bottom: 1rem;

  line-height: 0;

  visibility: hidden;
  opacity: 0;

  transition: 0.3s;
  transform: translateY(100%);
}

.back-to-top.show {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}
