* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #faf9f4;
  --primary-dark-color: #cfcdce;
  --secondary-color: #a3b3c1;
  --secondary-dark-color: #6a8493;
  --tertiary-color: #3b4856;
  --tertiary-dark-color: #5bc0eb;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: var(--tertiary--dark-color);
}

::-webkit-scrollbar-thumb {
  background: var(--tertiary-color);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--secondary-color);
}

body {
  font-family: 'Lato', sans-serif;
  min-height: 100vh;
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
  padding: 0.8rem;
  background-color: var(--secondary-dark-color);
  min-height: 15%;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.5);
}

.container-profile > h1 {
  text-shadow: -5px 3px 10px rgba(0, 0, 0, 0.5);
  color: #faf9f4;
}

nav {
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.nav-item {
  text-decoration: none;
  color: var(--primary-color);
}

.nav-item:hover {
  color: var(--tertiary-dark-color);
  text-shadow: -5px 3px 10px rgba(0, 0, 0, 0.5);
  transition: 0.4s;
  text-decoration: underline;
  font-size: 110%;
}

.languages {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
  padding: 0.8rem;

  text-decoration: none;
}

.languages > a {
  text-decoration: none;
  color: blue;
}

main {
  display: flex;
  flex-direction: column;
  /* justify-content: space-around; */
  align-items: center;

  background-color: #5bc0eb;

  border: 2px blue solid;
}

main > section {
  display: flex;
  border: 1px red solid;
  height: 85vh;
  width: 98vw;

  margin-top: 5px;
  margin-bottom: 5px;

  background-color: wheat;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.5);
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 2rem;
  flex-wrap: wrap;
  padding: 0.8rem;
  background-color: yellow;

  min-height: 10%;
  border: 1px red solid;
}

.back-to-top {
  background: #fff;
  cursor: pointer;

  position: fixed;
  right: 1rem;
  bottom: 1rem;

  line-height: 0;

  visibility: hidden;
  opacity: 0;

  transition: 0.3s;
  transform: translateY(100%);
}

.back-to-top.show {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}
