* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #e5e5e5;
  --primary-dark-color: #8d99ae;
  --secondary-color: #457b9d;
  --secondary-dark-color: #1d3557;
  --tertiary-color: #e63946;
  --tertiary-dark-color: #780000;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: var(--secondary-dark-color);
}

::-webkit-scrollbar-thumb {
  background: var(--primary-color);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--secondary-color);
}

body {
  font-family: 'Lato', sans-serif;
  min-height: 100vh;
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
  padding: 0.8rem;
  background-color: var(--secondary-dark-color);
  min-height: 15%;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.5);
}

.container-profile > h1 {
  text-shadow: -5px 3px 10px rgba(0, 0, 0, 0.5);
  color: #faf9f4;
}

nav {
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.nav-item {
  text-decoration: none;
  color: var(--primary-color);
}

.nav-item:hover {
  color: var(--tertiary-color);
  text-shadow: -5px 3px 10px rgba(0, 0, 0, 0.5);
  transition: 0.4s;
  text-decoration: underline;
  font-size: 110%;
}

.languages {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
  padding: 0.8rem;

  text-decoration: none;
}

.languages > a {
  text-decoration: none;
  color: blue;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;

  background-color: var(--primary-dark-color);
}

main > section {
  display: flex;
  border: none;
  height: auto;
  width: 98vw;

  background-color: var(--primary-color);
  align-items: center;
  justify-content: center;
  margin-top: 5px;
  margin-bottom: 5px;

  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.5);
}

.home > h1 {
  text-align: center;
  text-wrap: wrap;
  padding: 5px;
}

.about > p {
  text-align: justify;
  text-wrap: wrap;
  padding: 5px;
}

#my-projects-list {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  padding: 1rem;
  justify-content: center;
  align-items: center;
}

#my-projects-list a {
  text-decoration: none;
  color: var(--secondary-color);
  font-weight: bold;
  letter-spacing: 2px;
}

#my-projects-list a:hover {
  color: var(--tertiary-color);
  text-shadow: -5px 3px 10px rgba(0, 0, 0, 0.5);
  transition: 0.4s;
  text-decoration: underline;
  font-size: 110%;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
  padding: 0.8rem;
  background-color: var(--primary-color);

  min-height: 10%;
}

.logos {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.logo {
  width: 30px;
  height: 30px;
}

.back-to-top {
  cursor: pointer;

  position: fixed;
  right: 1rem;
  bottom: 1rem;

  line-height: 0;

  visibility: hidden;
  opacity: 0;

  transition: 0.3s;
  transform: translateY(100%);
}

.back-to-top.show {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}
